{% extends "core/seshat-base.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

<style>
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8">
        <h6 class="lead-2 text-success pt-3">You entered the following data for:</h6>
      <h3 class="mb-4 mt-2">{{var_name_display}}  </h3>
    </div>
    <div class="col-md-4"> 
        {% block addmore %}
        {% endblock addmore %}

          <span class="col-md-4 align-right mt-1">
              <a href="{% url 'synczotero100' %}" class="btn btn-outline-success pb-0 pt-1 mb-2 mt-1 float-end" id="syncBtn" onclick="return DisplayProgressMessage(this, 'Syncing with Zotero...');">
                  <b>Sync Refs with Zotero: <i class="fa-solid fa-arrows-rotate"></i> &nbsp; Last 100</b>
              </a>
              <span class="h6 text-secondary px-1"></span>
          </span>
      
    </div>
  </div>
  {% if messages %}
  <ul class="messages mt-3">
      {% for message in messages %}
      <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
              <i class="fa-solid fa-circle-info"></i> Thank you <b>{{ user }}</b>. {{ message }}
          </div>
      </div>
      {% endfor %}
      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <div class="container-fluid p-0">
        <div class="text-danger" role="alert" >
          <i class="fa-solid fa-triangle-exclamation"></i>  {{ error }}
        </div>
      </div>
      {% endfor %}
      <hr> 
      {% endif %}
  </ul>
  <hr>
  {% endif %}
  <table class="table align-middle table-bordered">
    <thead>        
      <tr style="background:rgba(194, 243, 242, 0.511)">
        {% block myheadings %}
        {% endblock myheadings %}

        <th scope="col" style="text-align: left">Tags</th>
        <!-- headings for the newly added row come here -->
        <th style="text-align: left;" scope="col">Polity</th>
        <th scope="col" style="text-align: center" class="fw-bold">
             Year(s)
        </th>
        <!-- extra headings -->

        <th scope="col" style="text-align: center">Update</th>

      </tr>
    </thead>
    <tbody>
          <tr>
            <div>
              {% block extracols %}
              {% endblock extracols %}
             {% include "core/partials/_all_tags_inline_new.html" %}
              <td class="ps-1" style="text-align: left;">
                {% if object.polity.long_name %}
                <span class="fw-bold h5">
                    <a href="{% url 'polity-detail-main' object.polity.id %}">{{ object.polity.long_name }}</a>
                </span>
                {% else %}
                <span class="fw-bold h5">
                    <a href="{% url 'polity-detail-main' object.polity.id %}">{{ object.polity.name }}</a>
                </span>
                {% endif %}
              
              </td>
              {% include "core/partials/_years_block_new_object.html" %}
              <!-- columns for extra vars come here -->

              <td style="text-align: center;">
                {% with object.clean_name|add:"-update" as meat %}
                <div class="py-1">
                  <a href="{% url meat object.id %}"><button class="btn btn-warning btn-sm btn-block"><i class="fa-solid fa-pen-to-square"></i></button></a>
                </div>
                {% endwith %}

              </td>
        </div>
        </tr>
    </tbody>
  </table>

  <form method="post" action="{% url 'seshatcommentpart-create2-inline' app_name=db_section model_name=object.clean_name instance_id=object.id %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-5">
          <br>
          <span class="fs-6 fw-bold text-dark">- Insert the <u>first</u>  subdescription text here*:</span>

          {{ form.comment_text.label_tag }} {{ form.comment_text }}
          {{ form.formset.management_form }}
          {{ form.management_form }}
          <div class="pt-0">
            <span class="text-secondary pt-0">* Use &lt;br&gt;
                for new paragraphs.</span>
        </div>
          <div class="row">
            <div class="col-md-12"  style="display: none;">
              {{ form.comment_order|as_crispy_field }}
         </div>
         <div class="col-md-12 pt-2 d-grid gap-2">
          <input type="submit"  class="btn btn-outline-success btn-block mt-2 fs-5 fw-bold" value="Submit">
         </div>
          </div>

    </div>
        <div class="col-md-7">
          <div id="formset-container">
            {% autoescape off %}
              {% for form1 in form.formset %}
                    <div class="formset-item">
                        {{ form.id }} {# Include the form ID for proper formset rendering #}
                      <div class="row">
                        <div class="col-md-12 pt-4">
                          <span class="badge fs-6" style="background: cadetblue;">Citation #{{ forloop.counter}}</span>                          
                          <span class="float-end text-secondary"><i class="fa-solid fa-trash-can"></i>
                            {{ form1.DELETE }} 
                          </span>  
                        </div>
                        <div class="col-md-12 pb-1">
                          <div id="div_id_refs-{{ forloop.counter0 }}-ref" class="control-group">
                            <div class="controls">
                              <select class="ref-dropdown form-control form-select mb-1 p-1 js-example-basic-single select2-hidden-accessible" text="ref" name="refs-{{ forloop.counter0 }}-ref" id="id_refs-{{ forloop.counter0 }}-ref" data-select2-id="id_refs-{{ forloop.counter0 }}-ref" tabindex="-1" aria-hidden="true" style="width:100%; "  data-selected-value="{{ form1.ref.value }}">
                                <option value="" selected data-select2-id="{{ forloop.counter0 }}">Reference ...</option>

                              </select>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-2">
                            {{ form1.page_from|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{ form1.page_to|as_crispy_field }}
                        </div>

                            <div colspan="4" class="col-md-8">
                                {{ form1.parent_pars|as_crispy_field }}
                            </div>
                        </div>
    
                    </div>
              {% endfor %}
              {% endautoescape %}

            </div>
  
          </div>
          <div class="col-md-6 pt-4"  style="display: none;">
               {{ form.comment_order|as_crispy_field }}
          </div>
          <div class="col-md-6 pt-4 d-grid gap-2">

          </div>
  
    </div>
    </form>
  <!-- seshatcommentpart_create.html -->
</div>

<script>
  $(document).ready(function() {
    // Initialize Select2 with an empty dataset
    $('.js-example-basic-single').select2();

    $('.ref-dropdown').each(function() {
        var selectElement = $(this);
        var selectedValue = selectElement.data('selected-value');

        $.ajax({
            url: '{% url "get_ref_options" %}', // Update this URL to your actual endpoint
            method: 'GET',
            success: function(data) {
                data.options.forEach(function(option) {
                    var optionElement = $('<option></option>')
                        .attr('value', option.value)
                        .text(option.label);

                    if (option.value == selectedValue) {
                        optionElement.attr('selected', 'selected');
                    }

                    selectElement.append(optionElement);
                });

                // Re-initialize Select2 to apply the new options
                selectElement.select2();
            },
            error: function(error) {
                console.error('Error fetching options:', error);
            }
        });
    });
});
  function DisplayProgressMessage(ctl, msg) {
    var originalText = $(ctl).html();
    $(ctl).data('original-text', originalText);
    $(ctl).prop("class", "btn btn-outline-success pb-0 pt-1 mb-2 float-end disabled");
    $(ctl).html(msg);

    // Simulate the end of the syncing process
    setTimeout(function() {
        RestoreOriginalMessage(ctl);
    }, 5000); // Change 5000 to the actual duration of the sync process in milliseconds

    return true;
  }

  function RestoreOriginalMessage(ctl) {
    var originalText = $(ctl).data('original-text');
    $(ctl).prop("class", "btn btn-outline-success pb-0 pt-1 mb-2 float-end");
    $(ctl).html(originalText);
  }
</script>

  {% endblock %}