{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.119/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.119/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
</head>

<style>
    input {
        accent-color: teal;
    }
    #map {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        flex: 1;
    }
    #globeParent {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        flex: 1;
        display: none;
    }
    #globe {
        position: absolute;
        width: 125vh;
        height: 55vh;
    }
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #componentLegend {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 253, 242, 0.8);
        padding: 10px;
        border-radius: 5px;
        max-width: 200px;
        z-index: 999;
    }
    #componentLegend2 {
        position: relative;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 253, 242, 0.8);
        padding: 10px;
        border-radius: 5px;
        max-width: 200px;
    }
</style>

<body>
    {% block content %}
    {% if content.include_polity_map %}
        <div style="display: flex;">
            <div style="width: 20%">
                <fieldset>
		            <div>
			            <h2 class="h1 text-teal federicka-big" id="sliderDate"></h2>
                        <label for="enterYear">Enter year:</label>
                        <input type="number" id="enterYear" name="enterYear" value="{{ content.display_year }}" style="width: 75px;""><br>
                        <label for="enterYear">Increment (years):</label>
                        <input type="number" id="increment" name="increment" value="10" style="width: 50px;" onchange="playRateValue()">
                        <button id=" minusButton" type="button" onclick="adjustSliderDown()">-</button>
                        <button id="plusButton" type="button" onclick="adjustSliderUp()">+</button><br>
                        <label for="playRate">Play rate: </label>
                        <span id="playRate">10 y/s</span><br>
                        <label for="playButton">Run animation:</label>
                        <button id="playButton" type="button" onclick="startPlay()">▶️</button>
                        <button id="stopButton" type="button" onclick="stopPlay()">⏸</button><br>
                        <label for="switchPolitiesComponents">Display:</label>
                        <select name="switchPolitiesComponents" id="switchPolitiesComponents" onchange="plotPolities()">
                            <option value="components">Polity components</option>
                            <option value="polities">Full polity</option>
                        </select><br>
                        <label for="opacitySlide">Opacity:</label>
                        <input type="range" name="opacitySlide" id="opacitySlide" min="0.1" max="1" step="0.1" value="0.7" class="slider"
                            onchange="plotPolities()" style="width: 150px;">
                        <fieldset>
                            <br>
                            <label for="baseMapOnly">Base map only</label>
                            <input type="checkbox" id="baseMapOnly" name="baseMapOnly" onclick=plotPolities()><br><br>
                            <label><input type="radio" name="baseMap" id="baseMapEsri" value="arcgis" onclick="switchBaseMap()" checked>Esri World Imagery</label><br>
                            <label><input type="radio" name="baseMap" id="baseMapCesium" value="cesium" onclick="switchBaseMap()">Cesium Globe</label><br>
                            <label><input type="radio" name="baseMap" id="baseMapBasic" value="carto" onclick="switchBaseMap()">CartoDB (no labels)</label><br>
                            <label><input type="radio" name="baseMap" id="baseMapOSM" value="osm" onclick="switchBaseMap()">OpenStreetMap</label><br>
                            <label><input type="radio" name="baseMap" id="baseMapCurrent" value="gadm" onclick="switchBaseMap()" disabled>Current borders (<a href="https://gadm.org/maps.html" target="_blank">GADM</a>)</label>
                            <!-- Add a loading indicator for Current borders -->
                            <div id="baseMapCurrentLoadingIndicator">
                                <p><sub>Loading current borders...</sub></p>
                                <!-- <div class="spinner"></div> -->
                            </div><br>
                        </fieldset>
                        <fieldset id="baseMapGADMFieldset">
                            <label for="baseMapGADM">Current borders:</label>
                            <select name="baseMapGADM" id="baseMapGADM" onchange="switchBaseMap()">
                                <option value="country">Countries</option>
                                <option value="province">Provinces</option>
                            </select><br>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
            <div style="display: flex; flex-direction: column; width: 80%; height: 60vh;">
                <div id="map">
                    <div id="componentLegend"></div>
                </div>
                <div id="globeParent">
                    <div id="globe"></div>
                    <div id="componentLegend2"></div>
                </div>
                <div style="display: block; width: 100%">
                    <fieldset>
                        <div class="slider-container" style="position: relative;">
                            <datalist id="yearTickmarks"></datalist>
                            <input type="range" name="dateSlide" id="dateSlide" min="{{ content.earliest_year }}" max="{{ content.latest_year }}"
                                value="{{ content.display_year }}" class="slider" onchange="plotPolities()" style="width: 100%;"
                                list="yearTickmarks">
                            <div id="yearTickmarkValues"></div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <script src="{% static 'core/js/map_functions.js' %}"></script>
        <script>

            window.onload = setSliderTicks({{ content.tick_years }});

            var allPolitiesLoaded = false;

            var displayedShapes = [];
            // Load inital polity shapes for the displayed year
            var polityMapShapesData = [
                // JavaScript object representing shape data
                {% for shape in content.shapes %}
                    {
                        {% for key, value in shape.items %}
                            '{{ key }}': '{{ value|escapejs }}',
                        {% endfor %}
                    },
                {% endfor %}
            ];

            allPolitiesLoaded = true;

            // Load capital info
            var capitalsInfo = {{ content.capitals_info | safe }};

            var provinceShapeData;
            var countryShapeData;

            // Load all polity shapes and modern province/country shapes in background
            window.addEventListener('load', function () {
                fetch('/core/provinces_and_countries')
                    .then(response => response.json())
                    .then(data => {
                        provinceShapeData = data.provinces.map(function (shape) {
                            return {
                                geometry: JSON.parse(shape.aggregated_geometry),
                                country: shape.country,
                                province: shape.province,
                                provinceType: shape.province_type
                            };
                        });

                        countryShapeData = data.countries.map(function (shape) {
                            return {
                                geometry: JSON.parse(shape.aggregated_geometry),
                                country: shape.country
                            };
                        });

                        // Enable the radio selection after the fetch request is done
                        document.getElementById('baseMapCurrentLoadingIndicator').style.display = 'none';
                        document.getElementById('baseMapCurrent').disabled = false;
                    });
            });

            var map = createMap();
            var viewer = createGlobe();

            var baseLayers = createBaseLayers();

            // Select arcgis (Esri) as the default base layer
            var currentLayer = baseLayers.arcgis.addTo(map);
            var provinceLayers = []; // Keep track of province layers to remove them later

            // Set the default base map to Esri World Imagery
            switchBaseMap();

            function plotPolities() {  // This function is defined differently in the world_map template

                var selectedYear = document.getElementById('dateSlide').value;
                var opacity = document.getElementById('opacitySlide').value;
                var selectedMap = document.querySelector('input[name="baseMap"]:checked').value;

                // Remove all existing data sources from the viewer
                viewer.dataSources.removeAll();

                // Remove all existing layers from the map
                map.eachLayer(function (layer) {
                    if (layer instanceof L.GeoJSON || layer instanceof L.MarkerClusterGroup || layer instanceof L.CircleMarker) {
                        map.removeLayer(layer);
                    }
                });

                // Hide the viewer or map div depending on the selected base map
                if (selectedMap !== 'cesium') {
                    document.getElementById('globeParent').style.display = 'none';
                    document.getElementById('map').style.display = 'block';
                } else {
                    document.getElementById('map').style.display = 'none';
                    document.getElementById('globeParent').style.display = 'block';
                }

                // Convert to int, because for some reason JS converts it to a string
                var selectedYearInt = parseInt(selectedYear);

                displayComponent = document.getElementById('switchPolitiesComponents').value;
                // Add shapes to the map
                // Don't plot them if "Base map only" checkbox selected
                if (!document.getElementById('baseMapOnly').checked) {
                    polityMapShapesData.forEach(function (shape) {

                        // If the shape spans the selected year and should be displayed according to the shouldDisplayComponent() function
                        if ((parseInt(shape.start_year) <= selectedYearInt && parseInt(shape.end_year) >= selectedYearInt)
                            && shouldDisplayComponent(displayComponent, shape)
                        ) {

                            // Format the area float
                            const formattedArea = parseFloat(shape.area).toLocaleString('en-US', {
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0,
                                useGrouping: true
                            });

                            // Format the years
                            if (parseInt(shape.polity_start_year) < 0) {
                                displaystart_year = Math.abs(parseInt(shape.polity_start_year)) + ' BCE';
                            } else {
                                displaystart_year = shape.polity_start_year + ' CE';
                            }

                            if (parseInt(shape.polity_end_year) < 0) {
                                displayend_year = Math.abs(parseInt(shape.polity_end_year)) + ' BCE';
                            } else {
                                displayend_year = shape.polity_end_year + ' CE';
                            }

                            var popupContent = `
                                <table>
                                    <tr>
                                        <th>${shape.name}</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td>Duration</td>
                                        <td>${displaystart_year} to ${displayend_year}</td>
                                    </tr>
                                    <tr>
                                        <td>Area (est.)</td>
                                        <td>${formattedArea} Km<sup>2</sup></td>
                                    </tr>
                                </table>
                            `;

                            if (selectedMap === 'cesium') {

                                // Parse the GeoJSON data
                                var geoJsonData = JSON.parse(shape.geom_json);

                                // Load the GeoJSON data
                                Cesium.GeoJsonDataSource.load(geoJsonData, {
                                    stroke: Cesium.Color.fromCssColorString(shape.colour),
                                    fill: Cesium.Color.fromCssColorString(shape.colour).withAlpha(opacity),
                                    strokeWidth: 2
                                }).then(function (dataSource) {
                                    // Add the data source to the viewer
                                    viewer.dataSources.add(dataSource);
                                
                                    // Bind popups to the features
                                    dataSource.entities.values.forEach(function (entity) {                   
                                        entity.description = new Cesium.ConstantProperty(popupContent);
                                    });

                                    // Update the displayedShapes array
                                    if (displayedShapes.indexOf(shape.name) === -1) {
                                        displayedShapes.push(shape.name);
                                    }

                                    // Adjust the viewer so we get a nice spin of the globe
                                    viewer.flyTo(dataSource, {
                                        offset: new Cesium.HeadingPitchRange(0, Cesium.Math.toRadians(-90), viewer.camera.positionCartographic.height)
                                    });

                                }).catch(function (error) {
                                    console.error('Error loading GeoJSON data: ', error);
                                });

                            } else {

                                // Add shape
                                var geoJSONLayer = L.geoJSON(JSON.parse(shape.geom_json), {
                                    style: function (feature) {
                                        return {
                                            fillColor: shape.colour,  // Set the fill color based on the "colour" field
                                            color: shape.colour,     // Set the border color
                                            weight: 2,              // Set the border weight
                                            fillOpacity: opacity   // Set the fill opacity
                                        };
                                    },
                                    onEachFeature: function (feature, layer) {
                                        layer.bindPopup(popupContent);
                                    }
                                }).addTo(map);

                                // Plot capital markers       
                                var markers = L.markerClusterGroup({
                                    iconCreateFunction: function(cluster) {
                                        return L.divIcon({
                                            html: '<div style="background-color:' + shape.colour + '; color: #fff; border-radius: 50%; text-align: center; line-height: 40px;"><b>' + cluster.getChildCount() + '</b></div>',
                                            className: 'myClusterIcon',
                                            iconSize: L.point(40, 40)
                                        });
                                    }
                                });
                                capitalsInfo.forEach(function (capital) {
                                    // If the capital existed in the selected year (or years not specified)
                                    if ((capital['year_from'] <= selectedYearInt && capital['year_to'] >= selectedYearInt)) {
                                        var marker = L.circleMarker([capital.latitude, capital.longitude], {
                                            color: 'black', // Set the border color
                                            fillColor: shape.colour,  // Set the fill color based on the "colour" field
                                            weight: 2,  // Set the border weight
                                            fillOpacity: 0.5,  // Set the fill opacity
                                            radius: 5
                                        });
                                        marker.bindTooltip(capital.capital, {
                                            permanent: true,
                                            direction: "top",
                                            offset: L.point({ x: 0, y: 0 })
                                        });

                                        marker.bindPopup(capital.capital);
                                        markers.addLayer(marker); // add each marker to the MarkerClusterGroup
                                    };
                                });

                                map.addLayer(markers); // add the MarkerClusterGroup to the map

                                // Update the displayedShapes array
                                if (displayedShapes.indexOf(shape.name) === -1) {
                                    displayedShapes.push(shape.name);
                                }

                                // adjust the map view to cover the geoJSON layer
                                // but not if there is > 1 shape dataset polity on this polity page
                                if (displayedShapes.length == 1) {
                                    map.fitBounds(geoJSONLayer.getBounds());
                                }

                            }
                        }
                    });
                };
                updateComponentLegend();
            }

            // Initial plot on page load
            plotPolities()

            // Display slider value
            var slider = document.getElementById("dateSlide");
            var enterYearInput = document.getElementById("enterYear");
            var sliderDate = document.getElementById("sliderDate");
            updateSliderOutput(); // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function () {
                updateSliderOutput();
                // Sync enterYear input with dateSlide value
                enterYearInput.value = slider.value;
            }

            var playInterval;
            var playRateInput = document.getElementById("playRate");

            // Add event listener to stop playing when adjusting the slider manually
            slider.addEventListener("input", stopPlay);

            // Add event listener to update play rate when the input changes
            playRateInput.addEventListener("change", function () {
                stopPlay(); // Stop current play if ongoing
                startPlay(); // Start with the updated play rate
            });

            // Make sure Radio selection is kept on page refresh
            document.addEventListener("DOMContentLoaded", function () {
                // Get the country parameter from the URL
                var urlParams = new URLSearchParams(window.location.search);

                // Trigger filtering when the page refreshes
                plotPolities();

            });

            // Update the enterYear input value when the user hits return
            enterYearInput.addEventListener("keyup", function (event) {
                if (event.key === "Enter") {
                    // Update the slider value
                    slider.value = enterYearInput.value;
                    updateSliderOutput();
                    plotPolities();
                }
            });

        </script>
    {% endif %}
    {% endblock %}
</body>
