<!-- seshatcommentpart_create.html -->
{% extends "core/seshat-base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% crispy ReferenceWithPageForm ReferenceWithPageForm.helper %}



{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<style>
    /* Style the dropdown */
    .select2-container .select2-selection--single {
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-top: 1px;
        margin-top: 0px;
        }
    
        .select2-container .select2-results__option:hover {
            background-color: #782823;
            color: beige;
        }
    
    
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #782823;
            color: beige;
        }
    
        /* Style the dropdown arrow */
        .select2-container .select2-selection__arrow {
        height: 32px;
        margin-top: 1px; /* Adjust the margin-top as needed */
        }
    
        .form-check-inline {
            display: flex;
            flex-direction: row;
            align-items: center; /* Center vertically */
            margin-right: 10px; /* Add some spacing between radio buttons */
        }
        .form-check-label {
            display: flex;
            align-items: center;
            margin-right: 15px; /* Add spacing between radio buttons */
        }
        
        .form-check-label input[type="radio"] {
            margin-right: 5px; /* Add spacing between radio circle and label */
        }
    
        /* Hide the up and down arrows */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"] {
            -webkit-appearance: none;
            margin-top: 4px;
            height: 34px;

        }
    
        .row {
            --bs-gutter-x: 1.0rem;
        }
        hr.bg-colorfuln {
            height:5px !important;
            margin-bottom: 20px;

            background-color: #fefae6;
        }
        table {border: none !important;}
        tbody, td, tfoot, th, thead, tr {
            border-color: inherit;
            border-style: none;
            border-width: 0;
        }


        .blinking-circle {
            display: inline-block; /* Ensure it's treated as an inline element */
            width: 70px;
            height: 10px;
            padding: 0px;
            margin: 0px;

            background-color: cadetblue;
            animation: blink 1s infinite alternate;
        }
    
        @keyframes blink {
            0% {
                opacity: 1;
            }
    
            100% {
                opacity: 0;
            }
        }

        .btn {
            cursor: pointer;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.6;
        }
</style>

<div class="container pt-2">

<!-- seshatcommentpart_create.html -->
{% autoescape off %}
<div class="row py-2">
    <div class="col-md-8">
      <b>Description:</b>  
    </div>
    <div class="col-md-4 align-right">
        <a href="{% url 'synczotero100' %}" class="btn btn-outline-success pb-0 pt-1 mb-2 float-end" id="syncBtn" onclick="return DisplayProgressMessage(this, 'Syncing with Zotero...');">
            <b>Sync Refs with Zotero: <i class="fa-solid fa-arrows-rotate"></i> &nbsp; Last 100</b>
        </a>
        <span class="h6 text-secondary px-1"></span>
    </div>

</div>
<div class="border-start px-2 border-secondary border-4">
    {% for subcom in parent_par.inner_comments_related.all %}
    {% if subcom_order == subcom.comment_order|add:"1" %}
    <span>{{subcom}}</span>
    <span class="blinking-circle"></span> 

    {% else %}
    <span>{{subcom}}</span>

    {% endif %}
    {% endfor %}
</div>
{% endautoescape %}

<form method="post" action="{% url 'seshatcommentpart-create2' com_id=com_id subcom_order=subcom_order  %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-5">
        <br>
        <span class="fs-6 fw-bold text-dark">- Insert the subdescription text here*:</span>

        {{ form.comment_text.label_tag }} {{ form.comment_text }}
        {{ form.formset.management_form }}
        {{ form.management_form }}
        <div class="pt-0">
            <span class="text-secondary pt-0">* Use &lt;br&gt;
                for new paragraphs.</span>
        </div>
        <div class="row">
          <div class="col-md-12"  style="display: none;">
            {{ form.comment_order|as_crispy_field }}
       </div>
       <div class="col-md-12 pt-2 d-grid gap-2">
        <input type="submit"  class="btn btn-outline-success btn-block mt-2 fs-5 fw-bold" value="Submit">
       </div>
        </div>

  </div>
      <div class="col-md-7">
        <div id="formset-container">

            {% for form1 in form.formset %}


                  <div class="formset-item">
                      {{ form1.id }} {# Include the form ID for proper formset rendering #}
                    <div class="row">
                      <div class="col-md-12 pt-4">
                        <span class="badge fs-6" style="background: cadetblue;">Citation #{{ forloop.counter}}</span>                          
                        <span class="float-end text-secondary"><i class="fa-solid fa-trash-can"></i>
                          {{ form1.DELETE }} 
                        </span>  
                      </div>
                      <div class="col-md-12 pb-1">
                        <div id="div_id_refs-{{ forloop.counter0 }}-ref" class="control-group">
                            <div class="controls">
                              <select class="ref-dropdown form-control form-select mb-1 p-1 js-example-basic-single select2-hidden-accessible" text="ref" name="refs-{{ forloop.counter0 }}-ref" id="id_refs-{{ forloop.counter0 }}-ref" data-select2-id="id_refs-{{ forloop.counter0 }}-ref" tabindex="-1" aria-hidden="true" style="width:100%; " data-selected-value="{{ form1.ref.value }}">
                                <option value="" selected data-select2-id="{{ forloop.counter0 }}">Reference ...</option>

                              </select>
                            </div>
                          </div>                        </div>
                      <div class="col-md-2">
                          {{ form1.page_from|as_crispy_field }}
                      </div>
                      <div class="col-md-2">
                          {{ form1.page_to|as_crispy_field }}
                      </div>

                          <div colspan="4" class="col-md-8">
                              {{ form1.parent_pars|as_crispy_field }}
                          </div>
                      </div>
  
                  </div>
            {% endfor %}

          </div>

        </div>
        <div class="col-md-6 pt-4"  style="display: none;">
             {{ form.comment_order|as_crispy_field }}
        </div>
        <div class="col-md-6 pt-4 d-grid gap-2">

        </div>

  </div>
  </form>


</div>
<!-- seshatcommentpart_create.html -->
<script>
    $(document).ready(function() {
        // Initialize Select2 with an empty dataset
        $('.js-example-basic-single').select2();
    
        $('.ref-dropdown').each(function() {
            var selectElement = $(this);
            var selectedValue = selectElement.data('selected-value');
    
            $.ajax({
                url: '{% url "get_ref_options" %}', // Update this URL to your actual endpoint
                method: 'GET',
                success: function(data) {
                    data.options.forEach(function(option) {
                        var optionElement = $('<option></option>')
                            .attr('value', option.value)
                            .text(option.label);
    
                        if (option.value == selectedValue) {
                            optionElement.attr('selected', 'selected');
                        }
    
                        selectElement.append(optionElement);
                    });
    
                    // Re-initialize Select2 to apply the new options
                    selectElement.select2();
                },
                error: function(error) {
                    console.error('Error fetching options:', error);
                }
            });
        });
    });
    function DisplayProgressMessage(ctl, msg) {
        var originalText = $(ctl).html();
        $(ctl).data('original-text', originalText);
        $(ctl).prop("class", "btn btn-outline-success pb-0 pt-1 mb-2 float-end disabled");
        $(ctl).html(msg);

        // Simulate the end of the syncing process
        setTimeout(function() {
            RestoreOriginalMessage(ctl);
        }, 5000); // Change 5000 to the actual duration of the sync process in milliseconds

        return true;
    }

    function RestoreOriginalMessage(ctl) {
        var originalText = $(ctl).data('original-text');
        $(ctl).prop("class", "btn btn-outline-success pb-0 pt-1 mb-2 float-end");
        $(ctl).html(originalText);
    }
    </script>
 
{% endblock %}

  