{% extends "core/detail_base_for_new_approach.html" %}
{% load static %}
{% load humanize %}

{% block addmore %}
<a href="{% url create_new_url %}" class="btn btn-outline-success float-end pb-0 mt-1 ms-1 pt-1"> Add Another Fact
</a>
<a href="{% url see_all_url %}" class="btn btn-outline-primary ms-auto pb-0 pt-1 mt-1 ms-1 float-end">See All Such Facts
</a>
{% endblock addmore %}

{% block myheadings %}
<th class = "fw-bold" style="text-align: left;" scope="col">Coded Value
</th>
{% endblock myheadings %}

{% block extracols %}

<td style="text-align: left;">
<span class="h5 fw-bold {% if object.tag == 'DSP' %}
text-danger
{% elif object.tag == 'SSP' %}
    text-darkorange
{% elif object.tag == 'UNK' %}
    text-secondary
{% elif object.tag == 'IFR' %}
    text-primary
{% else %}
    text-success
{% endif %}">{{ object.show_value }}</span>
</td>
{% endblock extracols %}
